html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

ol,ul {
    list-style:none;
}

blockquote,q {
    quotes:none;

    }
blockquote:before,blockquote:after,q:before,q:after {
    content:'';
    content:none;
}

:focus {
    outline:0;
}

ins {
    text-decoration:none;
}

del {
    text-decoration:line-through;
}

table { 
    border-collapse:collapse;
    border-spacing:0;
}

@font-face {
    font-family:'VAGRundschriftD';
    src:url(fonts/VAGRundschriftD.eot);
    src:url(fonts/VAGRundschriftD.eot?#iefix) format('embedded-opentype'),url(fonts/VAGRundschriftD.woff) format('woff'),url(fonts/VAGRundschriftD.ttf) format('truetype'),url(fonts/VAGRundschriftD.svg#VAGRundschriftD) format('svg')
}

@font-face {
    font-family:'VAGRundschriftD-Lig';
    src:url(fonts/VAGRundschriftD-Lig.eot);
    src:url(fonts/VAGRundschriftD-Lig.eot?#iefix) format('embedded-opentype'),url(fonts/VAGRundschriftD-Lig.woff) format('woff'),url(fonts/VAGRundschriftD-Lig.ttf) format('truetype'),url(fonts/VAGRundschriftD-Lig.svg#VAGRundschriftD-Lig) format('svg')
}

@font-face {
    font-family:'Pacifico';
    src:url(fonts/Pacifico.eot);
    src:url(fonts/Pacifico.eot?#iefix) format('embedded-opentype'),url(fonts/Pacifico.woff) format('woff'),url(fonts/Pacifico.ttf) format('truetype'),url(fonts/Pacifico.svg#Pacifico) format('svg')
}

body,input,textarea {
    font:normal 13px/1em Arial,sans-serif;
    color:#383f41;
}

body {
    text-align:center;
    background:#fff;
}

a:link,a:visited,a {
    text-decoration:none;
    color:#005c73;
    transition-property:all;
    -moz-transition-property:all;
    -o-transition-property:all;
    -webkit-transition-property:all;
    transition-duration:.3s,0.3s;
    -moz-transition-duration:.3s,0.3s;
    -o-transition-duration:.3s,0.3s;
    -webkit-transition-duration:.3s,0.3s;
    transition-transition-timing:ease-in,linear;
    -moz-transition-transition-timing:ease-in,linear;
    -o-transition-transition-timing:ease-in,linear;
    -webkit-transition-transition-timing:ease-in,linear}
    
a.minor-link:link,a.minor-link:visited {
    color:#388da2;
}

a:hover,a.minor-link:hover {
    color:#d79035;
    cursor:pointer;
}

p {
    line-height:1.4;
    margin:1em 0;
}

.first {
    margin-top:0;
}

h1,h2,h3 {
    font-family:VAGRundschriftD,'Arial Rounded MT Bold','Arial Rounded MT',Arial,sans-serif;
    font-weight:normal;
    line-height:1;
    text-shadow:#fff 0 1px 1px;
}

h2 {
    font-size:16px;
    font-weight: bold;
    padding-bottom: 10px;
    display: inline-block;
}

h2.subtitle,.section h2.subtitle {
    font-size:16px;
    color:#79888c;
    margin:-10px 0 25px 0;
}

h2 span {
    color:#79888c;
}

h3 {
    font-size:28px;
    letter-spacing:.015625em;
}

h4,.h4 {
    font-size:18px;
    margin:1em 0 .3em 0;
    line-height:1.2;
}

h5 {
    font-size:15px;
    margin:0 0 4px 0;
}

.helpIcon {
	vertical-align: middle;;
}

.titleHelpIcon {
	padding-bottom: 5px;
}

.minor {
    font-size:11px;
    color:#79888c;
}

.desc {
    font-size:16px;
    color:#79888c;
}

.clear {
    clear:both;
}

blockquote {
    margin:1em 2em;
}

button,input.button,a.button,span.button,input.button-tiny,a.button-tiny,span.button-tiny {
    display:-moz-inline-box;
    -moz-box-orient:vertical;
    display:inline-block;
    vertical-align:middle;
    *vertical-align:auto;
    *zoom:1;
    *display:inline;
    vertical-align:top;
    border:1px solid #becccc;
    padding:7px 20px;
    font-size:15px;
    font-weight:bold;
    border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    vertical-align:middle;
    height:21px;
    line-height:1.5;
    overflow:visible;
    background:#fff url(images/buttonBackground.png) 0 100% repeat-x;
    color:#005c73;
    text-align:center;
    text-shadow:rgba(255,255,255,1) 0 1px 0;
    -webkit-box-shadow:0 0 4px rgba(255,255,255,1);
    white-space:nowrap;
    transition-property:all;
    -moz-transition-property:all;
    -o-transition-property:all;
    -webkit-transition-property:all;
    transition-duration:.3s,0.1s;
    -moz-transition-duration:.3s,0.1s;
    -o-transition-duration:.3s,0.1s;
    -webkit-transition-duration:.3s,0.1s;
    transition-transition-timing:ease-in,linear;
    -moz-transition-transition-timing:ease-in,linear;
    -o-transition-transition-timing:ease-in,linear;
    -webkit-transition-transition-timing:ease-in,linear;
    font-family:VAGRundschriftD,'Arial Rounded MT Bold','Arial Rounded MT',Arial,sans-serif;
}

input.button    {
    height:37px
}

input.button-tiny,a.button-tiny,span.button-tiny {
    font-size:11px; height:auto;
}

input.button-tiny {
    padding:5px 10px;
}

a.button-tiny,span.button-tiny {
    padding:6px 10px 4px 10px;
}

input.button-tiny {
    height:28px;
}

input.button:hover,input.button:focus,a.button:hover,a.button:focus,input.button-tiny:hover,input.button-tiny:focus,a.button-tiny:hover,a.button-tiny:focus {
    cursor:pointer;
    background-position: -300px 100%;
    color: #d79035;
    border-color: #d79035;
}

input.button-tiny:disabled, input.button-tiny:disabled:hover {
    color: #999999;
    border-color: #C1C1C1;
}

/** Shared Content **/
#header {
    width: 960px;
    border-bottom: 1px solid #BECCCC;
    clear: both;
    padding: 0 16px 10px 20px;
    margin: 30px auto 15px auto;
    height: 30px;
}

#header.loginPage {
    width: 635px;
}

#title {
    float: left;
    text-align: left;
    font-size: 36px;
    color: #055C73;
}

#title h1 {
    font-family: 'Pacifico', VAGRundschriftD,'Arial Rounded MT Bold','Arial Rounded MT',Arial,sans-serif;
}

#headerLogo {
    margin-top: -10px;
}

#logout {
    width: 200px;
    float: right;
    text-align: right;
    padding-top: 22px;
}

#logout.loginPage {
    width: 100px;
    margin-right: 10px;
}

.indexPageTable tr td {
    padding: 2px 5px;
}

.indexPageTable .indexPageButton {
    margin-top: 10px;
}   

#mainContent {
    width: 960px;
    clear: both;
    margin: 0 auto;
    height: 100%;
    text-align: left;
}

.section {
    background-color: #E2E2E2;
    border: 1px solid #6D6D6D;
    padding: 10px;
    margin-bottom: 20px;
}

.section .textFieldName {
    float: left;
    display:flex;
    align-items:center;
    width: 100px;
    font-weight: bold;
    padding-top: 6px;
}

.errorMessageSpan {
    color: red;
    font-weight: bold;
    padding-left: 10px;
    display: none;
}

.customerFieldEmpty {
    background-color: #ffd8d8;
}

#domainNameDiv {
    font-weight: bold; 
    font-size: 16px;
    padding-bottom: 10px;
}

#powerPointBackgroundDiv {
    display: flex;
}

#currentBackgroundDiv {
    display: inline-block;
    margin-right: 25px;
}

#backgroundImageDiv {
    float: left;
}

#backgroundImageDiv img {
    float: left;
    border: 1px solid #6D6D6D;
}

#backgroundInfoDiv {
    float: right;
    margin: 18px 15px;
}

#backgroundInfoDiv .backgroundFontColor {
    margin-top: 8px;
}

#backgroundInfoDiv .backgroundTitle {
    font-size: 14px;
    font-weight: bold;
}

#backgroundInfoDiv .fontColorText {
    float: left;
    padding-top: 5px;
}

#backgroundInfoDiv .fontColorDiv {
    width: 20px;
    height: 20px;
    margin-left: 70px;
    border: 1px solid #555;
}

#changeBackgroundButtonDiv {
    float: right;
    margin-top: 24px;
}

#uploadBackgroundDiv {
    float: right;
    background-color: #F7F7F7;
    border: 1px solid #6d6d6d;
}

#uploadBackgroundDiv table {
    margin: 20px -10px 10px 20px;

}

#uploadBackgroundDiv td:first-child {
    font-weight: bold;
    padding-right: 10px;
}

.pageURLTitle {
    padding-left: 4px;
    font-weight: bold;
}

.siteDiv {
    background-color: #eeeeee;
    margin: 7px;
    padding: 7px;
    border: #999999 solid 1px;
    margin-bottom: 10px;
}

.siteHeaderDiv {
    width: 100%;
    display: inline-block;
}

.siteTitleDiv {
    font-size: 16px;
    font-weight: bold;
    float: left;
    line-height: 26px;
}

.siteTitleDiv a {
    vertical-align: middle;
}

.siteButtonsDiv {
    float: right;
}

.sectionsNotAvailableSpan {
    padding-right: 5px;
    font-weight: bold;
    vertical-align: middle;
}

.pagesTable {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.pagesTable td {
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #c2c2c2;
}

.pagesTable th, .pagesTable td {
    padding: 2px 2px 5px 0px;
}

.pagesTable td:first-child {
    text-align: left;
    padding-left: 8px;
    padding-bottom: 2px;
}

.pagesTable td:first-child select {
    width: 165px;
}

.pagesTable td:first-child input[type=text] {
    width: 150px;
}

.pagesTable td:last-child {
    border-right: none;
}

.pagesTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

.pagesTable tr:nth-child(odd) {
	background-color: #fff;
}

.pagesTable input {
    vertical-align: text-bottom;
    margin-bottom: 0px;
}

 .pagesTable tr:hover {
 	background-color: #8AFF7F;
 }

.copyPasteTextTitle {
    font-weight: bold;
    padding-bottom: 5px;
}

#tagTextDiv {
    display:flex;
    align-items:center;
}

#tagTextDiv textarea {
    width: 830px;
    margin-right: 10px;
}

.dropBox {
    border: 2px dashed #969696;
    border-radius: 5px;
    color: #808080;
    padding: 25px;
    text-align: center;
    width: 415px;
}

.dropBox:hover {
    border: 2px dashed rgba(0,0,0,.5);
    color: rgba(0,0,0,.5);
}

.dropBoxHasDragOver {
    background-color: #D4F4F4;
}

#textFileDropZone {
    float: left;
}

#zipFileDropZone {
    float: right;
}

#tagCountMessageDiv {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    width: 916px;
    padding: 10px;
    border: 1px solid #AAAAAA;
    background-color: #B5FFB2;
}

#queuedTagCountSpan {
    font-weight: bolder;
    font-size: 17px;
    color: #000000;
}

#tagsQueuedSpan {
    font-weight: bold;
    font-size: 15px;
}

#getScreenShotsDiv {
    width: 200px;
}

.queuedTagDiv {
    vertical-align: middle;
    text-align: center;
    line-height: 120px; 
    height: 120px;
}

.queuedTagDiv img {
    vertical-align: middle;
    margin-right: 5px;
}

.priorityDescriptionDiv {
	text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
    width: 100%;
}

.tagImageRowDiv {
    height: 120px;
}

.tagImageInfoDiv {
    float: left;
}

.deleteButtonDiv {
    float: right;
    text-align: center;
    vertical-align: middle;
    line-height: 120px; 
    width: 180px
}

.tagDimensionsDiv {
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 120px; 
    width: 75px
}

.tagImageDiv {
    float: right;
    vertical-align: middle;
    line-height: 120px; 
}

.tagImageDiv img {
    vertical-align: middle;
    max-height: 120px;
    max-width: 600px;
}

#campaignDetailsDiv td {
    padding: 0 8px 5px 0;
}

#campaignDetailsDiv td:first-child {
    font-weight: bold;
    font-size: 15px;
}

#screenshotsDiv {
    padding: 0px;
}

#screenshotsTable {
    width: 100%;
}

#screenshotsTable a {
    font-weight: bold;
    font-size: 16px;
}

#screenshotsTable tr:nth-child(even) {
    background-color: #F3F3F3;
}

#screenshotsTable td {
    text-align: center;
    padding: 10px 0 30px 0;
}

.ui-tooltip {
	text-align: left;
}

#asrContactForm {
	text-align: left;
}

#asrContactForm td {
	vertical-align: middle;
}

#asrContactForm td:first-child {
	font-weight: bold;
	padding-right: 10px;
}

#asrContactForm input {
	margin-bottom: 0;
    vertical-align: text-bottom;
}

#asrContactForm input[type="text"] {
	width: 300px;
}

#asrContactForm textarea {
	width: 500px;
}

#contactSendButton {
	padding: 0px;
}

.problemLinkDiv {
    display: inline-block;
    height: 17px;
    vertical-align: middle;
}

.problemLinkDiv a {
    border-bottom: 1px dashed;
    font-size: 85%;
    margin-left: 2px;
}

.ui-dialog-title {
    text-align: left;
}

#lineItemsTableDiv {
    display: block; 
    max-height: 300px; 
    overflow-y: scroll; 
    border: solid 1px black;
    margin-bottom: 5px;
    border: 1px solid #c2c2c2;
}

#lineItemsTable {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 0;
    border-collapse: separate;
}

#lineItemsTable label {
    display: block;
}

#lineItemsTable td {
    vertical-align: middle;
    text-align: center;
}

#lineItemsTable th, #lineItemsTable td {
    padding: 2px 0px 5px 0px;
}

#lineItemsTable td:first-child {
    text-align: center;
    padding-left: 8px;
    padding-bottom: 2px;
}

#lineItemsTable td:last-child {
    border-right: none;
}

#lineItemsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#lineItemsTable tr:nth-child(odd) {
    background-color: #fff;
}

#lineItemsTable tr:nth-child(even) td {
    background-color: #f2f2f2;
}

#lineItemsTable tr:nth-child(odd) td {
    background-color: #fff;
}

#lineItemsTable tr td:nth-child(2) {
    text-align: left;
}

#lineItemsTable tr td:nth-child(4) {
    min-width: 57px;;
}

#lineItemsTable input {
    vertical-align: text-bottom;
    padding-bottom: 5px;
}

#lineItemsTable tr:hover, #lineItemsTable tr:hover td {
    background-color: #8AFF7F;
 }

.issuesTable {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    border: 1px solid #6D6D6D;
}

.issuesTable th {
    border-bottom: 1px solid #6D6D6D;
}

.issuesTable td, .issuesTable th {
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #c2c2c2;
}

.issuesTable th, .issuesTable td {
    padding: 2px 2px 5px 0px;
}

.issuesTable td:first-child {
    text-align: left;
    padding-left: 8px;
    padding-bottom: 2px;
}

.issuesTable td:last-child, .issuesTable th:last-child {
    border-right: none;
}

.issuesTable tr:nth-child(even) {
    background-color: #fff;
}

.issuesTable tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.issuesTable tr:not(:first-child):hover {
    background-color: #8AFF7F;
}

