body {
	margin: 0px;
}

#infoDiv {
	float:left; 
	width:200px;
	height:100%;
	border-right: 1px solid black;
}

#contentDiv {
	margin-left:200px;
	height:100%;
	overflow:scroll;
}

#container {
    position :relative;
    margin: 0 auto;
    border: 1px solid black;
    width:960px;
    height:600px;
    overflow:hidden
}
#inner {
    position: relative;
    width: 1920px; 
}
#home2 {
    position: absolute;
    width: 960px;
    height: 600px;
}

#member-home2 {
    position: absolute;
    left: 960px;
    width: 960px;
    height: 600px;
    overflow:scroll;
}